<h1>Batch </h1>
<form #userForm='ngForm' (ngSubmit)='onSubmit(inputName.value, inputDate.value)'>
    <label>Name :</label>
    <select #inputName>
      <option>--SELECT--</option>
      <option>Monicka</option>
      <option>Hema</option>
      <option>Ramesh</option>
      <option>Madhavan</option>
      <option>Aadhavan</option>
      <option>Madhan</option>
      <option>Prasanth</option>
    </select>



    <label>Date</label>
    <input type="text" #inputDate>
<table class="table">
  <thead>
  <tr>
    <!-- <th scope="col">S.No</th> -->
    <th scope="col">From time</th>
    <th scope="col">To time</th>
    <th scope="col">Planned task</th>
    <th scope="col">Remarks</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor = "let user of users" scope="row">
      <td><input type='text' #fromTime='ngModel' name='fromTime' [(ngModel)] = user.fromTime /></td>
      <td><input type='text' #toTime='ngModel' name='toTime' [(ngModel)] = user.toTime /></td>
      <td><input type='text' #plannedTask='ngModel' name='plannedTask' [(ngModel)] = user.plannedTask /></td>
      <td><input type='text' #remarks='ngModel' name='remarks' [(ngModel)] = user.remarks /></td>


  </tr>
</tbody>
<button class="btn btn-primary" type='submit'>Submit</button>
</table>
</form>
